body {
    overflow: hidden;
    text-align: center;
}

#canvas-container {
    display: inline-flex;
    position: relative;
    overflow: hidden;
}

#canvas-container canvas {
    position: absolute;
}

#hud {
    display: inline-block;
}

#overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 1s;
    user-select: none;
    opacity: 0;
}

.fresh,
.game-over {
    opacity: 1;
}

.paused {
    animation: 1s ease-in 0s infinite alternate both running blink;
}

#game-over-msg,
#paused-msg,
#new-game-msg {
    display: none;
}

.fresh #new-game-msg,
.game-over #game-over-msg,
.game-over #new-game-msg,
.paused #paused-msg {
    display: block;
}

@keyframes blink {
    from { opacity: 0; }
    to { opacity: 0.75; }
}