body {
    display: grid;
    gap: 10px;
    grid-auto-rows: auto;
    align-items: center;
}

#canvas-container {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
}

#hud {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
}

#round-buttons {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}

#arrow-keys {
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
}

@media (min-width: 500px) {
    #canvas-container {
        grid-column: 2;
        grid-row: 1 / 2;
    }

    #hud, #arrow-keys {
        grid-column: 3;
    }
}

html {
    height: 100%;
}

body {
    overflow: hidden;
    text-align: center;
    font-family: cursive;
    box-sizing: border-box;
    touch-action: none;
    user-select: none;
    margin: 0;
    height: 100%;
}

body * {
    box-sizing: inherit;
}

#canvas-container {
    display: inline-flex;
    position: relative;
}

canvas {
    border: 1px solid black;
}

#current-piece-canvas {
    border-color: transparent;
}

#current-piece-canvas, #field-canvas {
    position: absolute;
}

#hud {
    display: inline-block;
}

#overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 1s;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

#overlay.fresh,
#overlay.game-over {
    opacity: 1;
    pointer-events: all;
}

.paused {
    animation: 1s ease-in 0s infinite alternate both running blink;
}

#game-over-msg,
#paused-msg,
#new-game-msg {
    display: none;
}

.fresh #new-game-msg,
.game-over #game-over-msg,
.game-over #new-game-msg,
.paused #paused-msg {
    display: block;
}

.control-element {
    display: none;
    transform: scale(1.5);
}

@media (hover: none) {
    .control-element {
        display: block;
    }
}

@keyframes blink {
    from { opacity: 0; }
    to { opacity: 0.75; }
}